[Unit]
Description=PiSignage Browser Remote Desktop
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
ExecStart=/usr/bin/websockify --web=/usr/share/novnc 0.0.0.0:6080 127.0.0.1:5900
Restart=always
RestartSec=5

[Install]
WantedBy=default.target
