[Unit]
Description=PiSignage Player Static Server

[Service]
Type=simple
WorkingDirectory=/home/donnoel/PiSignage
ExecStart=/usr/bin/node /home/donnoel/PiSignage/device/pi/bin/pisignage-serve-player.mjs
Restart=always
RestartSec=5

[Install]
WantedBy=default.target
